.Rproj.user/
.Rhistory
.RData
.Ruserdata
.DS_Store

*.RDataTmp
*.Rproj
*.Rproj.user

/Manuscript/*
/Simulation_data/*
/Images/*

*.gif
*.npy
*.tiff
*.png
*.csv
*.RDataTmp1
*.RDataTmp2

./simulation_code/Fig-orientation_tuning/w_photoreceptors_to_LGN.csv
./simulation_code/Fig-orientation_tuning/.RData
./simulation_code/Fig-place_cells/.RDataTmp1
./.git/objects/pack/tmp_pack_4zfndc
./.git/objects/pack/pack-c8dceee2430f3a4529b897b0be61d3ba2369bb45.pack
./simulation_code/orientation_tuning/w_photoreceptors_to_LGN.csv
./simulation_code/orientation_tuning/.RData
./.git/objects/pack/tmp_pack_4zfndc
./.git/objects/pack/pack-c8dceee2430f3a4529b897b0be61d3ba2369bb45.pack
./simulation_code/orientation_tuning/w_photoreceptors_to_LGN.csv
./simulation_code/orientation_tuning/.RData
